body{
    margin: 0;
    font-family: 'Dosis', sans-serif;
}
header{
    padding: 1%;
    background: #7EFFD4;
    color: black;
    text-align: center;
    font-size: 2rem;
}
footer{
    background: #7EFFD4;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
}
main{
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
#root{
    margin-top: 7%;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid #F60385;
    width: 65%;
    height: 35%;
}
.App{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img{
    margin: 0.5%;
    padding: 0.5%;
    width: 75px;
    height: 75px;
    border: 1px solid rgba(0, 0, 0, 0.100);
    border-radius: 5%;
}
@media (max-width: 480px) {
    img{
        width: 55px;
        height: 55px;
    }
}